/* CSS FILE */
/* 61% --> large screen */
:root{
   --primary-color:#093e52;
   --secondary-color:#daa900;
   --black-color:#000;
   --light-border:#d0d0d0;
   --lightest-border:#e2e2e2;
   --white-color:#fff;
   --footer-bg:#ededed;
   --general-space: 61vw;
   --general-space-desktop:80vw;
   --general-space-tablet:90vw;
   --general-space-mobile:95vw;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
	font-weight:600;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
	font-weight:500;
}
@font-face {
	font-family: 'Montserrat';
	src: url('/assets/font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
	font-weight:400;
}
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('/assets/font/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf') format('truetype');
	font-weight:600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('/assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf') format('truetype');
	font-weight:500;
}
@font-face {
	font-family: 'Minion Pro';
	src: url('/assets/font/Minion_Pro/MinionPro-Semibold.otf') format('opentype');
	font-weight: 600;
}
@font-face {
	font-family: 'Minion Pro';
	src: url('/assets/font/Minion_Pro/MinionPro-Regular.otf') format('opentype');
	font-weight: 400;
}
html{
	font-size: 16px;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;	
}
ul,p{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color:var(--black-color);
}
.d-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.d-end{
	display: flex;
	align-items: center;
	justify-content: end;
}
.d-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.general-button{
	border: none;
	background-color: transparent;
}
.general-button p{
	color: var(--primary-color);
	font-family: 'Montserrat Alternates';
	font-weight: 600;
	font-size: 0.9375rem;
	position: relative;
}
.general-button p::after{
	content:'';
	display: inline;
	background-image: url('/assets/image/right-arrow.png');
	background-size: cover;
	position: absolute;
	width: 18px;
	height:18px;
	color: var(--secondary-color);
    top: 50%;
    transform: translateY(-50%);
}
.inner-section{
	width: var(--general-space);
}
.school-header__text--top-text,.school-header__text--bottom-text,.footer-information__logo .top,.footer-information__logo .bottom,.parallax-bottom-text{
	font-family: 'Minion Pro', sans-serif;
	font-weight: 400;
}
/** Header Section  **/
.toolbar{
	border-bottom: 1px solid var(--light-border);
}
.toolbar-categories__item{
	padding: 10px 24px;
	border-left: 1px solid var(--light-border);
}
.toolbar-categories__item a{
	font-size: 0.75rem;
}
.toolbar-social-media{
	display: block;
	width: 10px;
	height: 18px;
	background-image: url('/assets/image/social-icons.png');
}
.login-dropdown::after{
	content: url('/assets/image/down-arrow.png');
	vertical-align: middle;
	margin-left: 5px;
}
#login-icon{
	width: 16px;
	height: 18px;
	background-image: url('/assets/image/login.png');
	background-size: cover;
	margin-right: 5px;
}
#search-icon{
	width: 18px;
	height: 18px;
	background-image: url('/assets/image/magnifying-glass.png');
	margin-right: 5px;
}
#translator-icon{
	width: 20px;
	height: 20px;
	background-image: url('/assets/image/translator.png');
	margin-right: 5px;
}
.school-header{
	padding-top:10px;
}
.school-outer-frame{
	width: 80.5%;
	height: 212px;
	background-image: url('/assets/image/jacksonville-bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.school-header__logo{
	width: 164px;
	height: 164px;
	background-image: url('/assets/image/logo.png');
	background-size: cover;
}
.school-header__text{
	margin-left: 20px;

}
.school-header__text--top-text{
	font-size: 6.25rem;
	text-align: right;
	line-height: 80px;
	color: var(--primary-color);

}
.school-header__text--bottom-text{
	font-size: 3.25rem;
	text-align: right;
	line-height: 45px;
	letter-spacing:.6rem;
	color: var(--secondary-color);
}
nav{
	background-color: var(--primary-color);
}
.divider{
	width: 6px;
	height: 6px;
	background-color:var(--secondary-color);
	border-radius: 50%;
}
.categories__item{
	padding: 0px 36px 0px 36px;
	height: 55px;	
}
.categories__item:first-child{
	padding-left: 0px;
}
.categories__item:last-child{
	padding-right: 0px;
}
.categories__item a{
	position: relative;
	color: var(--white-color);
	height: 100%;
	display: grid;
    place-items: center;
	font-size: 1.25rem;
	text-wrap: nowrap;
}
.categories__item a::after{
	content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--secondary-color); 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease; 
}
.categories__item a.active::after{
	transform: scaleX(1);
	transform-origin: bottom left;
}
#mobile-menu-icon{
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	background-image: url('/assets/image/hamburger-menu-light.png');
	background-size: cover;
}
.mobile-menu-box{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9;
	width: 300px;
	height: 100vh;
	background-color: var(--white-color);
}
/** Header Section END **/

/* MAIN */
/** Hero Section **/
#hero-banner{
	height: calc((745 / 1800) * 100vw);
	width: 100%;
	background-image: url('/assets/image/hero-banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	border-bottom: 4px solid var(--secondary-color);
}
/** Hero Section END **/

/** QuickLinks Section **/
.quick-links-container{
	background-color: var(--white-color);
	border-top: 4px solid var(--secondary-color);
	padding: 40px;
	margin-top: -100px;
}
.quick-links__item{
	width: 306px;
	aspect-ratio: 2 / 0.8;
	display: flex;
	border: none;
	align-items: end;
	justify-content: space-between;
	background-color: var(--primary-color);
	padding: 0;
}
.quick-links__item-img{
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.quick-links__item:nth-child(1) .quick-links__item-img{
	background-image: url('/assets/image/pic-1.png');
}
.quick-links__item:nth-child(2) .quick-links__item-img{
	background-image: url('/assets/image/pic-2.png');
}
.quick-links__item:nth-child(3) .quick-links__item-img{
	background-image: url('/assets/image/pic-3.png');
}
.quick-links__item-header{
	background-image: url('/assets/image/leaves.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
	width: 35%;
	height: 95%;
}
.quick-links__item-header--text{
	margin-bottom: 20px;
	margin-right: 20px;
	color:var(--white-color);
	font-size:1rem;
	text-wrap: nowrap;
}
/** QuickLinks Section END **/

/** Events Section **/
#news-and-events .inner-section{
	margin-top: 34px;
	display: flex;
	gap: 70px;
	padding: 40px;
}
.events,.news{
	width: 48%;
}
.events-header,.events-list__item--date .tt,.events-list__item--date .bt,.events-list__item--header, .news-header,.news-item__header,.album-header,.album-boxes__item--text,.video-box__text-part--header,.quick-links__item-header--text,.categories__item a,.footer-information__address-phone .info{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
}
.events-list__item--time,.events-list__item--place,.news-item__desc,.footer-copyright p{
	font-family: 'Montserrat',sans-serif;
	font-weight: 400;
}
.events-header, .news-header,.album-header{
	margin-top: 0;
}
.events-header, .news-header,.album-header{
	font-size: 2.25rem;
	color:var(--primary-color);
	text-align: left;
}
.events-header{
	margin-left: 50px;
}
.events-list__item{
	display: flex;
	align-items: start;
	justify-content: start;
	margin-bottom: 30px;
}
.events-list__item--date{
	width: 70px;
	height: 60px;
	background-image: url('/assets/image/date-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	color: var(--primary-color);
	flex-direction: column;
	margin-right: 30px;
}
.events-list__item--date .tt{
	font-size: 1.5rem;
	line-height: 14px;
}
.events-list__item--date .bt{
	font-size: 0.8125rem;
	line-height: 14px;
}
.events-list__item--header{
	font-size: 1.1875rem;
	line-height: 21px;
	color:var(--primary-color);
	margin: 0;
}
.events-list__item--time{
	font-size:1rem;
	line-height: 25px;
}
.events-list__item-text-part{
	display: flex;
	align-items: start;
	flex-direction: column;
	width: 80%;
}
.events .general-button{
	margin-right: 20px;
}
.news-item{
	display: flex;
	width: 100%;
}
.news-item-text-part{
	width: 60%;
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-left: 20px;
}
.news-item-single-text-part{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.news-item__img{
	width: 195px;
	aspect-ratio: 1 / 0.71;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.news-item.first .news-item__img{
	background-image: url('/assets/image/news-1.png');
}
.news-item.second .news-item__img{
	background-image: url('/assets/image/news-2.png');
}
.news-item__header{
	color: var(--primary-color);
	font-size:  1.1875rem;
	margin:0 0 20px 0;
}
.news-item__desc{
	color: var(--black-color);
	font-size: 1rem;
	line-height: 24px;
}
.news hr{
	border: none;
	border-bottom: 1px dashed var(--primary-color);
	margin: 20px 0;
}
.news button{
	padding: 0;
}
/** Events Section END **/

/** Parallax Section **/
#parallax{
	height: calc((645 / 1800) * 100vw);
	width: 100%;
	background-image:url("/assets/image/parallax.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.shade{
	width: 100%;
	height: 100%;
	background-image: url("/assets/image/shade.png");
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 55px;
}
.parallax-top-text{
	font-size: 1rem;
	letter-spacing: 7px;
	font-family: 'Minion Pro',sans-serif;
	font-weight: 600;
	color:var(--secondary-color);
	text-transform: uppercase;
	text-align: center;
}
.parallax-bottom-text{
	font-size: 4.375rem;
	color:var(--white-color);
	text-transform:uppercase;
	text-align: center;
}
/** Parallax Section END **/

/** Album Section **/
#album .inner-section{
	width: 40%;
}
#album{
	margin-top: 64px;
	margin-bottom: 55px;
}
.album-boxes__item{
	width: 340px;
	height: 310px;
	border: 1px solid var(--lightest-border);
	padding: 0;
	background-color: var(--white-color);
	flex-direction: column;
}
.album-boxes__item--img{
	width: 100%;
	height: 80%;
	background-size: cover;
}
.album-boxes__item:nth-child(1) .album-boxes__item--img{
	background-image: url("/assets/image/album-1.png");
}
.album-boxes__item:nth-child(2) .album-boxes__item--img{
	background-image: url("/assets/image/album-2.png");
}
.album-boxes__item--text{
	margin: auto;
	font-size: 1.1875rem;
	line-height: 26px;
	color:var(--primary-color);
}
/** Album Section END **/

/** Video Section **/
.video-box{
	background-color: var(--primary-color);
	height: 410px;
}
.video-box__text-part{
	width: 32%;
	height: 80%;
	padding: 30px;
	color: var(--white-color);
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
}
.video-box__text-part--header{
	font-size: 2.25rem;
}
.video-box__text-part--text{
	font-family: 'Montserrat Alternates';
	font-weight: 500;
	font-size: 1.1875rem;
	line-height: 26px;
}
.video-box__text-part .general-button p{
	color: var(--white-color);
}
.video-box__video-part{
	position: relative;
	width: 75%;
	height: 100%;
}
.video-box__video-part--video{
	width: 100%;
	height: 100%;
}
.video-box__video-part--btn{
	position: absolute;
	width: 60px;
	height: 60px;
	background-image: url("/assets/image/play-button.png");
	background-size: cover;
	background-color: transparent;
	border: none;
}
/** Video Section END **/

/* FOOTER */
#footer{
	position: relative;
}
.footer-landscape{
	position: absolute;
	top:-69px;
	background-image: url("/assets/image/cityscape.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	width: 100%;
	height: 70px;
}
.footer-information{
	background-color: var(--primary-color);
	height: 115px;
	margin-top: 80px;
}
.footer-information__logo .logo{
	width: 170px;
	height: 170px;
	background-image: url("/assets/image/footer-logo.png");

}
.footer-information__logo .text{
	margin-left: 30px;
	color:var(--white-color);
	text-transform: uppercase;
}
.footer-information__logo .text .top{
	font-size: 1.875rem;
}
.footer-information__logo .text .bottom{
	font-size: 1.5rem;
}
.footer-information__address-phone{
	display: flex;
	align-items: center;
}
.footer-information__address-phone .yellow-divider{
  height: 50px;
  width: 2px;
  background-color:var(--secondary-color);
}
.footer-information__address-phone .info{
	 color:var(--white-color);
	 font-size: 1rem;
	 line-height: 24px;
	 margin-left: 10px;
}
.footer-information__brand{
	width:110px;
	height: 70px;
	background-image: url("/assets/image/fortilyfy.png");
}
.footer-copyright p{
	font-size:0.75rem;
	line-height: 16px;
	color:var(--black-color);	
	text-align: center;
	margin: 30px 0px;
}
.footer-powered-by{
	background-color: var(--footer-bg);
	height: 40px;
	flex-direction: column;
}
.footer-powered-by .powered-by-text{
	background-image: url("/assets/image/powered-by.png");
	width: 47px;
	height: 9px;
	margin-bottom: 10px;
}
.footer-powered-by .edunet-text{
	background-image: url("/assets/image/edunet-logo.png");
	width: 184px;
	height: 9px;
}
/* FOOTER END */

/* RESPONSIVE DESIGN */

/** Desktop **/
@media screen and (max-width:1500px) {
	html{
		font-size: 13px;
	}
	.inner-section{
		width: var(--general-space-desktop);
	}
	.toolbar-categories__item{
		padding: 5px 24px;
	}
	.school-outer-frame{
		height: 150px;
		width: 75%;
	}
	.school-header__logo{
		width: 130px;
		height: 130px;
	}
	.school-header__text--top-text{
		font-size: 5.5rem;
		line-height: 50px;
	} 
	.school-header__text--bottom-text{
		font-size: 2.5rem;
	}
	.categories__item{
		height: 40px;
	}
	.quick-links-container{
		padding: 30px;
	}
	.quick-links__item{
		width: 315px;
	}
	#news-and-events .inner-section{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.events .general-button:first-child{
		margin-right: 20px;
	}
	#album .inner-section{
		width: 53%;
	}
	.video-box{
		height: 432px;
	}
}
/** Tablet **/
@media screen and (max-width:992px) {
	html{
		font-size: 13px;
	}
	.inner-section,#album .inner-section{
		width: var(--general-space-tablet);
	}
	#header{
		position: fixed;
	}
	.toolbar, nav .inner-section{
		display: none;
	}
	.school-outer-frame {
		height: auto;
		width: auto;
		background-image: none;
		margin-left: 15px;
	}
	.school-outer-frame .inner-section{
		width: auto;
	}
	.school-header__logo{
		width: 50px;
		height: 50px;
	}
	.school-header__text{
		margin-left: 10px;
	}
	.school-header__text--top-text{
		font-size: 1.5rem;
		line-height: 16px;
		color: var(--white-color);
		text-align: left;
	}
	.school-header__text--bottom-text{
		font-size: 1rem;
		line-height: 16px;
		letter-spacing: 2px;
		color: var(--white-color);
		text-align: left;
	}
	#hero-banner{
		height: 400px;
	}
	.quick-links-container{
		margin-top: 10px;
		border-top: none;
		padding: 10px 0px;
	}
	.quick-links__item{
		width: 230px;
	}
	.quick-links__item-header{
		width: 40%;
		height: 100%;
	}
	.quick-links__item-header--text {
		margin: auto;
	}
	#news-and-events .inner-section{
		flex-direction: column;
	}
	.events, .news{
		width: 100%;
	}
	.news-item-text-part{
		width: 80%;
	}
	#album{
	margin-top: 30px;
    margin-bottom: 40px;
	}
	.video-box{
		height: 270px;
		margin-bottom: 20px;
	} 
	.footer-information__logo .logo{
		width: 70px;
		height: 70px;
		background-size: cover;
	}
	.footer-information{
		height: 90px;
	}
	.footer-copyright p{
		font-size: 1rem;
		line-height: 18px;
		text-align: justify;
		margin: 10px;
	}
	.events-header{
		margin-left: 0px;
	}
	#header{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	nav{
		background-color: transparent;
		width: max-content;
	}
}
/** Mobile **/
@media screen and (max-width:576px) {
	
}